<form method="post" action="/auth/signup" class="form">

    <label for="username">username</label>
    <input class="input" type="text" id="username" name="username" value="test username">

    <label for="email">email</label>
    <input class="input" type="email" id="email" name="email" value="test@email.com">

    <label for="password">password</label>
    <input class="input" type="password" id="password" name="password" value="12345">

    <label for="avatar">avatar</label>
    <input class="input" type="file" id="avatar" name="avatar" accept= "image/png, image/jpeg">

<label for="role">Role</label>
    <input class="input" type="text" id="role" name="role" value="admin">

    <button class="btn">signup</button>
</form>
<p>
    Already got an account ? <a href="/auth/signin">signin</a>
</p>